/* App.css */

/* Container styling */
.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px 150px;
  background-color: #f5eee6;
}

/* Navigation styles */
.tag-name {
  color: green;
  text-align: center;
}

nav {
  background-color: #00a7aa;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: #ffd700;
}

.active a {
  color: #ffd700;
}

/* Flexbox utility classes */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
